[Desktop Entry]
Version=1.0
Type=Application
Name=PDF Compress
Icon=./icon-pdf-128.png
Exec=./pdfcompress.sh
NoDisplay=false
Categories=Office;
StartupNotify=false
Terminal=false
